.centeredDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to full viewport height */
  }

  .dsaasda
  {
    background-color: #48c1f1;;
  }
  