@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.active{
  background-color: rgb(44, 207, 191);
  border-radius: 5px;
}
.active h1{
  color: white;
  font-weight: 500;
}
.active img{
  color: white;
  filter: invert(100%);
}

.liness{
  filter: invert(59%) sepia(90%) saturate(349%) hue-rotate(125deg) brightness(98%)
}

.uppersvg{
  background-color: #48c1f1;
}

.lowersvg{
  background-image: url( '../public/wave.png' );
  background-repeat: no-repeat;
  background-size:cover;

  
 
}

.compop{
  box-shadow: 0 -5px 5px -5px #333;
  animation: fadeIn 0.5s ease;
}
 @keyframes fadeIn {
      from {
        height: 10rem;
      }
      to {
        height: 30rem;
      }
    }

.sma{
  position: fixed;
  z-index: 9999;
}
.vnavbarr{
  position: fixed;
  z-index: 999;
}

.uppersvg a{
  display: block;
}
.flexp{
  background-color: #48c1f1;
  color: white;
  padding: 1rem;
  font-weight: 500;
  font-family:monospace;
  border-radius: 0.2rem;
  
}
.imgsc{
  
  background-color: white;
}

.bottom{
  background-color: #48c1f1;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
